* {
    margin: 0;
    padding: 0;
    caret-color: transparent;

    --cell-pixels: 128px;
}

button {
    width: 32px;
    height: 32px;
}

#table {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-pixels));
    grid-template-rows: repeat(3, var(--cell-pixels));
    gap: 6px;
    background-color: rgb(47, 79, 69);
}

.cell {
    background-color: whitesmoke;
    text-align: center;
    line-height: var(--cell-pixels);
    cursor: pointer;
    font-size: 3.2rem;
    font-weight: 600;
}
